<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
   <servlet>
       <description>PolicyService</description>
       <display-name>PolicyServiceV1</display-name>
       <servlet-name>PolicyServiceV1</servlet-name>
       <servlet-class>org.ebayopensource.turmeric.runtime.spf.pipeline.SPFServlet</servlet-class>
      <init-param>
         <param-name>SOA_SERVICE_NAME</param-name>
         <param-value>PolicyService</param-value>
      </init-param>
   </servlet>
   <servlet>
       <description>PolicyEnforcementService</description>
       <display-name>PolicyEnforcementServiceV1</display-name>
       <servlet-name>PolicyEnforcementServiceV1</servlet-name>
       <servlet-class>org.ebayopensource.turmeric.runtime.spf.pipeline.SPFServlet</servlet-class>
      <init-param>
         <param-name>SOA_SERVICE_NAME</param-name>
         <param-value>PolicyEnforcementService</param-value>
      </init-param>
   </servlet>
   <servlet>
       <description>AuthorizationService</description>
       <display-name>AuthorizationServiceV1</display-name>
       <servlet-name>AuthorizationServiceV1</servlet-name>
       <servlet-class>org.ebayopensource.turmeric.runtime.spf.pipeline.SPFServlet</servlet-class>
      <init-param>
         <param-name>SOA_SERVICE_NAME</param-name>
         <param-value>AuthorizationService</param-value>
      </init-param>
   </servlet>
   <servlet>
       <description>AuthenticationService</description>
       <display-name>AuthenticationServiceV1</display-name>
       <servlet-name>AuthenticationServiceV1</servlet-name>
       <servlet-class>org.ebayopensource.turmeric.runtime.spf.pipeline.SPFServlet</servlet-class>
      <init-param>
         <param-name>SOA_SERVICE_NAME</param-name>
         <param-value>AuthenticationService</param-value>
      </init-param>
   </servlet>
   <servlet>
       <description>GroupMembershipService</description>
       <display-name>GroupMembershipServiceV1</display-name>
       <servlet-name>GroupMembershipServiceV1</servlet-name>
       <servlet-class>org.ebayopensource.turmeric.runtime.spf.pipeline.SPFServlet</servlet-class>
      <init-param>
         <param-name>SOA_SERVICE_NAME</param-name>
         <param-value>GroupMembershipService</param-value>
      </init-param>
   </servlet>
   <servlet>
       <description>RateLimiterService</description>
       <display-name>RateLimiterServiceV1</display-name>
       <servlet-name>RateLimiterServiceV1</servlet-name>
       <servlet-class>org.ebayopensource.turmeric.runtime.spf.pipeline.SPFServlet</servlet-class>
      <init-param>
         <param-name>SOA_SERVICE_NAME</param-name>
         <param-value>RateLimiterService</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
       <servlet-name>PolicyEnforcementServiceV1</servlet-name>
       <url-pattern>/PolicyEnforcementServiceV1</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>PolicyServiceV1</servlet-name>
       <url-pattern>/PolicyServiceV1</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>AuthorizationServiceV1</servlet-name>
       <url-pattern>/AuthorizationServiceV1</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>AuthenticationServiceV1</servlet-name>
       <url-pattern>/AuthenticationServiceV1</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>GroupMembershipServiceV1</servlet-name>
       <url-pattern>/GroupMembershipServiceV1</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>GroupMembershipServiceV1</servlet-name>
       <url-pattern>/GroupMembershipServiceV1</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>RateLimiterServiceV1</servlet-name>
       <url-pattern>/RateLimiterServiceV1</url-pattern>
   </servlet-mapping>
</web-app>
